<?xml version="1.0"?>

<config>
	<tabs>
		<quickview translate="label" module="quickview">
			<label>Product Quickview</label>
			<sort_order>100</sort_order>
		</quickview>
	</tabs>
	
	<sections>
		<settings translate="label" module="quickview">
			<label>Settings</label>
			<tab>quickview</tab>
			<frontend_type>text</frontend_type>
			<sort_order>3410</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<settings translate="label">
					<label>Settings</label>
					<frontend_type>text</frontend_type>
					<sort_order>1</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<enable translate="label">
							<label>Status</label>
							<frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
							<sort_order>0</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Enable or disable module</comment>
						</enable>
                        <producttypes translate="label">
                            <label>Product Types</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>2</sort_order>
                            <source_model>quickview/system_config_source_producttypes</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Select the product types that you want to display the "quickview" button</comment>
                        </producttypes>
                        <button_text translate="label">
                            <label>Button Text</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>You can change the QuickView button text here</comment>
                        </button_text>
                        <button_css_grid translate="label">
                            <label>Button CSS (Grid View)</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                                    Depending on your theme, you may want to adjust the QuickView button CSS. 
                                    You can do that here. However, it is reccomended that you do not change the default 
                                    values unless it's necessary. The text-area above will modify the CSS for the button when 
                                    the toolbar is set to "grid" mode.
                            </comment>
                        </button_css_grid>
                        <button_css_list translate="label">
                            <label>Button CSS (List View)</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                                    Depending on your theme, you may want to adjust the QuickView button CSS.
                                    You can do that here. However, it is reccomended that you do not change the 
                                    default values unless it's necessary. The text-area above will modify the CSS for the button when the toolbar is set to "list" mode.
                            </comment>
                        </button_css_list>
					</fields>
				</settings>				
			</groups>
		</settings>
	</sections>
</config>
